*, *::before, *::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@import '../abstract/variables';

body, *{
    font-family: $font-family-default;
    font-weight: $font-weight-base;
}

p{
    padding:.2em 0em;
}

.bg-snow{ background-color: $snow-color; }
.bg-taupe{ background-color: $taupe-color; }
.bg-jelly{ background-color: $jelly-color; }
.bg-granite{ background-color: $granite-color;}

.text-white{ color:$white-color;}
.text-taupe{ color:$taupe-color;}
.text-granite{ color:$granite-color;}

.fw-3{font-weight: $font-weight-light;}
.fw-4{font-weight: $font-weight-normal;}
.fw-7{font-weight: $font-weight-bold;}

.fs-xx-large{font-size: $fs-xx-large;}
.fs-x-large{font-size: $fs-x-large;}
.fs-large{font-size: $fs-large;}
.fs-medium{font-size: $fs-medium;}